<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Sidebars · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">

    <!-- CSS W3 Animation -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Bootstrap Custom styles for this template -->
    <link href="sidebars.css" rel="stylesheet">

 
</head>
<!------------------------------------------------------------------------------------------------->
<body style=" background-color: #f7f7f7 ">


    <!------------------------------------------------------------------------------------------------->
    <div class="row">

        <div class="col-2">
            @Html.Partial("_SideBar");
        </div>

        <div class="col-10">

            <!--add PProduct-->

            <div class="row mt-4">
                <!-- main -->
                <div class="col-12 col-md-8 mt-2 mb-2 border border-1 rounded" id="formcontainer" style="background-color: #CFD8E5 ">
                    <h4 class="mt-4">ADD-RETAILER</h4>
                    <form class="row g-3 mt-3">
                        <div class="col-md-8">
                            <label for="ProdName" class="form-label">Product name</label>
                            <input type="text" class="form-control" id="ProdName">
                        </div>
                        <div class="dropdown  col-md-4">
                            <div><label for="ProdName" class="form-label">Category</label></div>
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown button
                            </button>
                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="#">Category 1</a></li>
                                <li><a class="dropdown-item" href="#">Category 2</a></li>
                                <li><a class="dropdown-item" href="#">Category 3</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" class="form-control" id="price" min="0">
                        </div>
                        <div class="col-md-6">
                            <label for="quantity" class="form-label">Quantity</label>
                            <input type="number" class="form-control" id="quantity" min="0">
                        </div>
                        <div class="col-md-6">
                            <label for="inputProfilePicture" class="form-label">Picture</label>
                            <input type="file" class="form-control" id="inputProfilePicture">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Add Product</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

        <!------------------------------------------------------------------------------------------------->
        <!--Bootstrap js-->
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>
        <script>
            /* global bootstrap: false */
            (function () {
                'use strict'
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                tooltipTriggerList.forEach(function (tooltipTriggerEl) {
                    new bootstrap.Tooltip(tooltipTriggerEl)
                })
            })()

        </script>

        <!------------------------------------------------------------------------------------------------->

</body>
</html>
