<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Sidebars · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">

    <!-- CSS W3 Animation -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Bootstrap Custom styles for this template -->
    <link href="sidebars.css" rel="stylesheet">

    <!--SideBar Style-->
    <style>
        body {
            min-height: 100vh;
            min-height: -webkit-fill-available;
        }

        html {
            height: -webkit-fill-available;
        }

        main {
            display: flex;
            flex-wrap: nowrap;
            height: 100vh;
            height: -webkit-fill-available;
            max-height: 100vh;
            overflow-x: auto;
            overflow-y: hidden;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .b-example-divider {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .bi {
            vertical-align: -.125em;
            pointer-events: none;
            fill: currentColor;
        }

        .dropdown-toggle {
            outline: 0;
        }

        .nav-flush .nav-link {
            border-radius: 0;
        }

        .btn-toggle {
            display: inline-flex;
            align-items: center;
            padding: .25rem .5rem;
            font-weight: 600;
            color: rgba(0, 0, 0, .65);
            background-color: transparent;
            border: 0;
        }

            .btn-toggle:hover,
            .btn-toggle:focus {
                color: rgba(0, 0, 0, .85);
                background-color: #d2f4ea;
            }

            .btn-toggle::before {
                width: 1.25em;
                line-height: 0;
                content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
                transition: transform .35s ease;
                transform-origin: .5em 50%;
            }

            .btn-toggle[aria-expanded="true"] {
                color: rgba(0, 0, 0, .85);
            }

                .btn-toggle[aria-expanded="true"]::before {
                    transform: rotate(90deg);
                }

        .btn-toggle-nav a {
            display: inline-flex;
            padding: .1875rem .5rem;
            margin-top: .125rem;
            margin-left: 1.25rem;
            text-decoration: none;
        }

            .btn-toggle-nav a:hover,
            .btn-toggle-nav a:focus {
                background-color: #d2f4ea;
            }

        .scrollarea {
            overflow-y: auto;
        }

        .fw-semibold {
            font-weight: 600;
        }

        .lh-tight {
            line-height: 1.25;
        }


        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            color: #fff;
            background-color: #ed872f;
        }
    </style>

</head>
<!------------------------------------------------------------------------------------------------->
<body style=" background-color: #f7f7f7 ">


    <!------------------------------------------------------------------------------------------------->
    <!--sideBar-->
    <main>

        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 17%; height:758px; position:fixed; z-index:10;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <img src="~/pics/whiteLogo-04.png" style="width: 170px; padding-left:50px;" />
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a href="#" class="nav-link text-white ">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white ">
                        Products
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white  active">
                        Categories
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        Users
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="~/pics/profile.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>Admin</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>


    </main>

    <!------------------------------------------------------------------------------------------------->


    <div class="row" style="width: 80%; margin-left: 20%; margin-top: 50px; margin-bottom: 50px; z-index: 1;">


        <!--add Category-->

        <div class="row mt-4">
            <!-- main -->
            <div class="col-12 col-md-8 mt-2 mb-2 border border-1 rounded" id="formcontainer" style="background-color: #CFD8E5 ">
                <h4 class="mt-4">ADD-Category</h4>
                <hr />
                <form class="row g-3 mt-3">
                    <div class="col-md-8">
                        <label for="ProdName" class="form-label">Category name</label>
                        <input type="text" class="form-control" id="ProdName">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Add Category</button>
                    </div>
                </form>
            </div>
        </div>

        <!------------------------------------------------------------------------------------------------->
        <!--Remove Product-->
        <div class="row mt-4">
            <!-- main -->
            <div class="col-12 col-md-8 mt-2 mb-2 border border-1 rounded" id="formcontainer" style="background-color: #E2CFCF ">
                <h4 class="mt-4">REMOVE-CATEGORY</h4>
                <hr />
                <form class="row g-3 mt-3">
                    <div class="col-md-6">
                        <label for="inputCompanyName" class="form-label">Category ID</label>
                        <input type="text" class="form-control" id="inputCompanyName">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCompanyName" class="form-label">Confirm ID</label>
                        <input type="text" class="form-control" id="inputCompanyName">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Remove Category</button>
                    </div>
                </form>
            </div>
        </div>

        <!------------------------------------------------------------------------------------------------->
        <!--Get Categories-->
        <div class="row mt-4">
            <div class="col-12 col-md-8 mt-2 mb-2 border border-1 rounded" id="formcontainer" style="background-color: #CFD8E5 ">
                <h4 class="mt-4">Categories</h4>
                <hr />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Products Quantity In Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Category1</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Category2</td>
                            <td>213</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Category3</td>
                            <td>100</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!------------------------------------------------------------------------------------------------->
        <!--Bootstrap js-->
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>
        <script>
            /* global bootstrap: false */
            (function () {
                'use strict'
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                tooltipTriggerList.forEach(function (tooltipTriggerEl) {
                    new bootstrap.Tooltip(tooltipTriggerEl)
                })
            })()

        </script>

        <!------------------------------------------------------------------------------------------------->

</body>
</html>
