<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Sidebars · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">

    <!-- google chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <!-- CSS W3 Animation -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Bootstrap Custom styles for this template -->
    <link href="sidebars.css" rel="stylesheet">

    <style>
        body {
            min-height: 100vh;
            min-height: -webkit-fill-available;
        }

        html {
            height: -webkit-fill-available;
        }
    </style>

    <!--cards style-->
    <style>
        .card {
            border-radius: 10px;
            animation-duration: 2s;
            border: solid lightgray 2px;
            background-color: transparent;
            background-color: white;
        }

        .col-2 > img {
            width: 70px;
            align-self: center;
        }
    </style>

    <style>
        #formcontainer {
            margin: 0 auto;
        }
    </style>
</head>


<!---------------------------------------------------------------------------------------------------->


<body style=" background-color: #f7f7f7 ">


    <div class="row">

        <div class="col-2">
            @Html.Partial("_SideBar");
        </div>

        <div class="col-10">


            <!--Cards-->
            <div class="row">

                <div class=" col-2  card">
                    <img src="~/pics/IconsAdmin-02.png" />
                    <div class="card-body">
                        <h4 class="card-title">Categories</h4>
                        <h3 class="card-title" style="color:#ed872f">7</h3>
                        <div class="btn"> More -></div>
                    </div>
                </div>
                <div class="col-2  card">
                    <img src="~/pics/IconsAdmin-03.png" />
                    <div class="card-body">
                        <h4 class="card-title">Products</h4>
                        <h3 class="card-title" style="color:#ed872f">1250</h3>
                        <div class="btn"> More -></div>
                    </div>
                </div>
                <div class="col-2 card">
                    <img src="~/pics/IconsAdmin-01.png" />
                    <div class="card-body">
                        <h4 class="card-title">Users</h4>
                        <h3 class="card-title" style="color:#ed872f">3000</h3>
                        <div class="btn"> More -></div>
                    </div>
                </div>
                <div class="col-2 card">
                    <img src="~/pics/IconsAdmin-04.png" />
                    <div class="card-body">
                        <h3 class="card-title">Admins</h3>
                        <h3 class="card-title" style="color:#ed872f">7</h3>
                        <div class="btn">More -></div>
                    </div>
                </div>

            </div>


            <!--Charts-->
            <div class="row">

                <div class="col-5 card">
                    <div id="myChart"></div>

                    <script>
                        google.charts.load('current', { 'packages': ['corechart'] });
                        google.charts.setOnLoadCallback(drawChart);

                        function drawChart() {
                            var data = google.visualization.arrayToDataTable([
                                ['Caegories', 'Products per Category'],
                                ['Cat_1', 10],
                                ['Cat_2', 49],
                                ['Cat_3', 44],
                                ['Cat_4', 24],
                                ['Cat_5', 15]
                            ]);

                            var options = {
                                title: 'Products In Each Category'
                            };

                            var chart = new google.visualization.BarChart(document.getElementById('myChart'));
                            chart.draw(data, options);
                        }
                    </script>

                </div>

                <div class="col-5 card">
                    <canvas id="myChart2"></canvas>

                    <script>
                        var xValues = ["Products", "Categories", "Retailers", "Supliers"];
                        var yValues = [55, 49, 44, 24];
                        var barColors = [
                            "#f98125",
                            "#5b84c4",
                            "#193a6f",
                            "#11224d"
                        ];

                        new Chart("myChart2", {
                            type: "pie",
                            data: {
                                labels: xValues,
                                datasets: [{
                                    backgroundColor: barColors,
                                    data: yValues
                                }]
                            }
                        });
                    </script>

                </div>


            </div>

            <!--Last Activities-->
            <div class="row"></div>
        </div>
    </div>
<!------------------------------------------------------------------------------------------------------>
        
    
    
    
    
    <!--Bootstrap js-->
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>
        <script>
            /* global bootstrap: false */
            (function () {
                'use strict'
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                tooltipTriggerList.forEach(function (tooltipTriggerEl) {
                    new bootstrap.Tooltip(tooltipTriggerEl)
                })
            })()

        </script>
</body>
</html>
